nav ul {
	display:  inline-block;
	/*background-color: darkslategray;*/
	background-color: rgba(47, 79, 79, 0.75);
	width: 98.5%;
	padding: 10px;
}

nav ul li {
	display: inline-block;
	padding: 10px;
}

nav ul li a {
	text-decoration-line: none;
	font-size: 20px;
	padding-right: 25px;
	color:  white;
}

nav ul li a:hover{
	color: tomato;
}