* {
	padding: 0px;
	margin: 0px;
}

body {
	background-size: 100%;
}

.ann-d1 {
	background-color: rgba(255, 255, 255, 0.5);
	width: 70%;
	padding: 20px;
	margin: 25px;
	border-radius: 20px;
}

.ann-d1 a {
	margin-right: 10%;
	display: inline-block;
	float: right;
	color: black;
	text-decoration-line: none;
	padding: 5px;
	border: 2px black solid;
	font-family: 'Roboto', sans-serif;
}

.ann-d1 a:hover {
	background-color: rgba(255, 99, 71, 0.6);
	transform: scale(1.20);
	transition: 0.25s;
}

.ann-d1 h1 {
	color: tomato;
	font-family: 'Fredoka One', cursive;
	margin-left: 2%;
	margin-bottom: 20px;
}

.ann-d1 h2 {
	font-family: 'Ubuntu', sans-serif;
	margin-left: 5%;
	margin-bottom: 5px;
}

.ann-d1 h3 {
	color: tomato;
	font-family: 'Ubuntu', sans-serif;
	text-decoration-line: underline;
	margin-left: 5%;
}

.ann-d2 {
	background-color: rgba(255, 255, 255, 0.5);
	width: 70%;
	padding: 20px;
	margin: 25px;
	margin-bottom: 20%;
	border-radius: 20px;
	
}	

.ann-d2 h2 {
	font-family: 'Roboto', sans-serif;
	margin-left: 2%;
}
